body {
  background-color: #fff;
}

#calculator {
  width: 60%;
  height: 210px;
  margin: 8rem 16rem;
}

#exit{
  height: 18%;
  width: 80%;
  background-color: #808080;
  text-align: right;
  font-size: xx-large;
  color: #fff;
  box-sizing: border-box;

}

#input {
  display: flex;
  height: 60%;
  width: 80%;
}

#digits {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#digits > * {
  border: 1px solid #dcdcdc;
  outline: none;
  font-size: x-large;
}

#digits :nth-child(4n) {
  background-color: #ffa500;
}